# Répertoires de compilation
build/
cmake-build-*/

# Fichiers générés par CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Binaires et objets C/C++
*.o
*.obj
*.a
*.so
*.dll
*.dylib
*.exe

# Fichiers générés par LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc

# Éditeurs et système
.idea/
.vscode/
*.swp
*~
.DS_Store
*:Zone.Identifier
